/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
}
/* DON'T TOUCH THIS! */
body {
    font-family: 'Roboto';
}
.container {
    margin-top: 10%;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}
h1.title {
    color: #174885;
    font-size: 4em;
}
h1.section-title {
    color: #3278cf;
    font-size: 3em;
}
